body {
  background-color: cornsilk;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}
div.App > h1{
   text-align: center;
   font-size: 3rem;
   color: cadetblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  width: 100%;
  height: 3rem;
  background-color: black;
  border-radius: 1rem;
  margin-bottom: 2rem;

}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem;
  color: whitesmoke;
}

li:hover {
  text-decoration: underline green 0.5rem;

}

.item-card {
  width: 600px;
  background-color: red;
  display: inline-block;
}

.sidebar {
  width: 400px;
  background-color: blue;
  display: inline-flex;
  float: right;
}

footer {
  background-color: darkgoldenrod;
  position: fixed;
  bottom: 0;
  width: 80%;
}


